
<div id="due-date-modal"  class="modal hide fade">
  <div>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">

    <%= form_for(assignment) do |f| %>
      <% if assignment.errors.any? %>
        <div class="alert alert-error">
          <ul>
          <% assignment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>


    <p>Start Date: <input type="text" class="datepicker"></p>
    <p> Due Date:  <input type="text" class="datepicker"></p>

    <%end%>




  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>
